@charset "UTF-8";

html, body, p, button { font-size:100%; }
		
h1 { font-size:1.6em; }
h2 { font-size:1.4em; }
h3 { font-size:1.2em; }
h4 { font-size:1.0em; }
p  { font-size:0.8em; }
button	{font-size:0.8em;	}

@font-face 
{
    font-family: 'Dyslexic';
   	src: url('OpenDyslexic-Regular.otf');
}

#blackOnSea {background-color:#9FC; color:#000;}
#blackOnSea a {color:#000;}
#blackOnSea a:link {color:#000;}
#blackOnSea a:visited {color:#000;}
#blackOnSea a:hover {color:#666;}
#blackOnSea a:active {color:#000;}
#blackOnSea a:visited:hover {color:#000;}
#blackOnSea .btn-success {background:#0C6; color:#000;}
#blackOnSea .btn-primary {background:#6CC; color:#000;}

#yellowOnGreen {background-color:#093; color:#FF0;}
#yellowOnGreen a {color:#FF0;}
#yellowOnGreen a:link {color:#FF0;}
#yellowOnGreen a:visited {color:#FF0;}
#yellowOnGreen a:hover {color:#FC0;}
#yellowOnGreen a:active {color:#FF0;}
#yellowOnGreen a:visited:hover {color:#FF0;}
#yellowOnGreen .btn-success {background:#033; color:#FF0;}
#yellowOnGreen .btn-primary {background:#063; color:#FF0;}
#yellowOnGreen .well {color:#033;}

#blackOnOrange {background-color:#F90; color:#000;}
#blackOnOrange a {color:#000;}
#blackOnOrange a:link {color:#000;}
#blackOnOrange a:visited {color:#000;}
#blackOnOrange a:hover {color:#666;}
#blackOnOrange a:active {color:#000;}
#blackOnOrange a:visited:hover {color:#000;}
#blackOnOrange .btn-success {background:#F60; color:#000;}
#blackOnOrange .btn-primary {background:#F93; color:#000;}

		
/* CSS Document */

