@charset "UTF-8";
@font-face 
{
    font-family: 'Dyslexic';
   	src: url('OpenDyslexic-Regular.otf');
}
#whiteOnBlack {background-color:#000000; background-image:url(images/Side-Banner-Inverse.png); color:#ffffff;}
#whiteOnBlack #twitter_feed {list-style-image:url(twitter-inverse.gif);};
#whiteOnBlack a {color:#ffffff;}
#whiteOnBlack a:link {color:#ffffff;}
#whiteOnBlack a:visited {color:#ffffff;}
#whiteOnBlack a:hover {color:#919396;}
#whiteOnBlack a:active {color:#ffffff;}
#whiteOnBlack a:visited:hover {color:#919396;}
#yellowOnBlack {background-color:#000000; background-image:url(images/Side-Banner-Inverse.png); color:#ffff66;}
#yellowOnBlack #twitter_feed {list-style-image:url(twitter-inverse.gif)};
#yellowOnBlack a {color:#FFFF00;}
#yellowOnBlack a:link {color:#ffff66;}
#yellowOnBlack a:visited {color:#ffff66;}
#yellowOnBlack a:hover {color:#FFFF00;}
#yellowOnBlack a:active {color:#ffff66;}
#yellowOnBlack a:visited:hover {color:#ffff00;}

#blackOnYellow {background-color:#FFFF66; background-image:url(images/Side-Banner-Transparent.png);}

#blackOnPink {background-color:#ffdddd; background-image:url(images/Side-Banner-Transparent.png);}/* CSS Document */



